{% extends "base.html" %}

{% block content %}
<h1>{{ test.title }} - Submissions</h1>

<ul>
    {% for submission in submissions %}
    <li>
        Student: {{ submission.student.name }} |
        Marks: {{ submission.marks or "Not graded" }} |
        <a href="/submission/{{ submission.id }}/grade">Grade</a>
        <br>
        Answers:
        <ul>
            {% for answer in submission.answers %}
            <li>{{ answer.question.question_text }}: {{ answer.answer_text }}</li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
{% endblock %}