{% extends "base.html" %}

{% block content %}
<h1>All Tests</h1>

<ul>
    {% for test in tests %}
    <li>
        <strong>
            <a href="/test/{{ test.id }}">{{ test.title }}</a>
        </strong>
        <br>
        Created by: {{ test.teacher.name }}
        <br>
        <a href="/test/{{ test.id }}/add_question">Add Questions</a> |
        <a href="/test/{{ test.id }}/submissions">View Submissions</a>
    </li>
    {% endfor %}
</ul>

<a href="/create_test">Create New Test</a>
{% endblock %}